/**
 * Color Variables
 */
$color-cyan: #a3bfc4;
$color-cyan-ligher: #eff4f5;
$color-cyan-lightest: #f9fbfb;

$color-offwhite: #aaa;

$color-sky-blue: #9bcbd3;

$color-teal: #144852;
$color-teal-darker: #017c91;
$color-teal-darkest: #057388;
$color-teal-lighter: #345f69;
$color-teal-lightest: #4e8e9d;

$color-white: #ffffff;
